body{
    font-family: 'century gothic',calibri,serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
header{
    height: 100px;
}
footer{
    height: 80px;
    padding-top: 30px;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
    text-align: center;
}
nav{
    width: 100%;
    background-color: #424558;
}
.pres{
    background-color: #fff;
    text-align: center;
    font-family: 'lato',sans-serif;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover, .presentation{
    border-top: 5px solid #4c8;
    background-color: RGB(64, 200, 130,0.15);
}
.menu-dip:hover, .parcours{
    border-top: 5px solid #f1dc4f;
    background-color:RGB(241, 211, 79,0.15);
}
.menu-obs:hover, .competences{
    border-top: 5px solid #0070bb;
    background-color: RGB(000, 112, 192, 0.15);
}
.menu-cont:hover{
    border-top: 5px solid #e44d26;
    background-color: RGB(228, 77, 38, 0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}


section{
    width: 100%;
    min-height: 300%;
    padding-bottom: 10px;
    margin-bottom: 10x;
    background-color: #fff;
}

.sec{
    margin: 0px 10%;
}

.left{
    float: left;
    width:30%;
}
.right{
    float: left;
    width:70%;
}

.cleft, .cright, .sousleft, .sousright{
    width: 50%;
    float: left;
}

.sec::after, .exp::after, .reco::after{
    content: "";
    display: table;
    clear:both;
}


@media screen and(max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
    .photo{
        flex-direction: column;
        padding: 10;
    }
}

.rouge{
    border-top: 5px solid #e44d26;
    background-color: RGB(228, 77, 38, 0.15);
}
.left{
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}